-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "public"."cards" (
    "id" TEXT NOT NULL,
    "name" TEXT,
    "series" TEXT,
    "character" TEXT,
    "rarity" TEXT,
    "category" TEXT DEFAULT 'anime',
    "condition" TEXT DEFAULT 'Good',
    "estimatedValue" DOUBLE PRECISION DEFAULT 0,
    "actualValue" DOUBLE PRECISION,
    "imagePath" TEXT NOT NULL,
    "imageUrl" TEXT,
    "fileName" TEXT NOT NULL,
    "fileSize" INTEGER,
    "fileHash" TEXT,
    "imageHash" TEXT,
    "ocrText" TEXT,
    "aiTags" TEXT,
    "confidence" DOUBLE PRECISION DEFAULT 0,
    "cardTitle" TEXT,
    "attackPower" INTEGER,
    "defense" INTEGER,
    "speed" INTEGER,
    "specialAbility" TEXT,
    "element" TEXT,
    "rarityLevel" INTEGER,
    "rating" DOUBLE PRECISION,
    "uploadDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "isAnalyzed" BOOLEAN NOT NULL DEFAULT false,
    "isVerified" BOOLEAN NOT NULL DEFAULT false,
    "diamondPrice" INTEGER DEFAULT 100,
    "isPublic" BOOLEAN NOT NULL DEFAULT true,
    "isPurchasable" BOOLEAN NOT NULL DEFAULT true,
    "maxOwners" INTEGER,
    "currentOwners" INTEGER NOT NULL DEFAULT 0,
    "collectionId" TEXT,
    "thumbnailUrl" TEXT,
    "story" TEXT,

    CONSTRAINT "cards_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."collections" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "totalCards" INTEGER NOT NULL DEFAULT 0,
    "totalValue" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "collections_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."anime_series" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "altNames" TEXT,
    "year" INTEGER,
    "studio" TEXT,
    "genre" TEXT,
    "popularity" DOUBLE PRECISION DEFAULT 0,
    "cardCount" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "anime_series_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."characters" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "series" TEXT NOT NULL,
    "description" TEXT,
    "popularity" DOUBLE PRECISION DEFAULT 0,
    "cardCount" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "characters_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."analytics" (
    "id" TEXT NOT NULL,
    "cardId" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "estimatedValue" DOUBLE PRECISION,
    "marketValue" DOUBLE PRECISION,
    "priceChange" DOUBLE PRECISION DEFAULT 0,
    "views" INTEGER NOT NULL DEFAULT 0,
    "searches" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "analytics_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."settings" (
    "id" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "value" TEXT NOT NULL,
    "type" TEXT NOT NULL DEFAULT 'string',
    "description" TEXT,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ai_models" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "version" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "accuracy" DOUBLE PRECISION DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "modelPath" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ai_models_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."used_card_names" (
    "id" TEXT NOT NULL,
    "cardTitle" TEXT NOT NULL,
    "cardId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "used_card_names_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."users" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "username" TEXT NOT NULL,
    "passwordHash" TEXT,
    "firstName" TEXT,
    "lastName" TEXT,
    "avatar" TEXT,
    "bio" TEXT,
    "birthDate" TIMESTAMP(3),
    "level" INTEGER NOT NULL DEFAULT 1,
    "experience" INTEGER NOT NULL DEFAULT 0,
    "totalDiamonds" INTEGER NOT NULL DEFAULT 0,
    "currentDiamonds" INTEGER NOT NULL DEFAULT 100,
    "dailyDiamonds" INTEGER NOT NULL DEFAULT 0,
    "lastDailyReset" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "quizzesCompleted" INTEGER NOT NULL DEFAULT 0,
    "codeSubmissionCount" INTEGER NOT NULL DEFAULT 0,
    "loginStreak" INTEGER NOT NULL DEFAULT 0,
    "maxLoginStreak" INTEGER NOT NULL DEFAULT 0,
    "lastLoginDate" TIMESTAMP(3),
    "isPremium" BOOLEAN NOT NULL DEFAULT false,
    "premiumExpiresAt" TIMESTAMP(3),
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "emailVerified" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'user',
    "phone" TEXT,
    "codeArenasCompleted" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."accounts" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "providerAccountId" TEXT NOT NULL,
    "refresh_token" TEXT,
    "access_token" TEXT,
    "expires_at" INTEGER,
    "token_type" TEXT,
    "scope" TEXT,
    "id_token" TEXT,
    "session_state" TEXT,

    CONSTRAINT "accounts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."sessions" (
    "id" TEXT NOT NULL,
    "sessionToken" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."verification_tokens" (
    "identifier" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL
);

-- CreateTable
CREATE TABLE "public"."user_cards" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "cardId" TEXT NOT NULL,
    "purchasePrice" INTEGER NOT NULL,
    "purchaseDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "isLocked" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "user_cards_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."code_submissions" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "language" TEXT NOT NULL DEFAULT 'python',
    "isCorrect" BOOLEAN NOT NULL DEFAULT false,
    "testResults" TEXT,
    "errorMessage" TEXT,
    "executionTime" INTEGER,
    "score" INTEGER,
    "feedback" TEXT,
    "submittedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "codeArenaId" TEXT,

    CONSTRAINT "code_submissions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."quizzes" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "questions" TEXT NOT NULL,
    "timeLimit" INTEGER DEFAULT 300,
    "diamondReward" INTEGER NOT NULL DEFAULT 5,
    "experienceReward" INTEGER NOT NULL DEFAULT 25,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "difficulty" INTEGER NOT NULL DEFAULT 1,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "passingScore" INTEGER NOT NULL DEFAULT 70,

    CONSTRAINT "quizzes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."quiz_attempts" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "quizId" TEXT NOT NULL,
    "answers" TEXT NOT NULL,
    "score" INTEGER NOT NULL,
    "correctAnswers" INTEGER NOT NULL DEFAULT 0,
    "totalQuestions" INTEGER NOT NULL,
    "timeSpent" INTEGER NOT NULL,
    "isCompleted" BOOLEAN NOT NULL DEFAULT false,
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completedAt" TIMESTAMP(3),

    CONSTRAINT "quiz_attempts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."badges" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "icon" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "rarity" TEXT NOT NULL DEFAULT 'common',
    "color" TEXT NOT NULL DEFAULT '#3B82F6',
    "condition" TEXT NOT NULL,
    "rewardDiamonds" INTEGER NOT NULL DEFAULT 25,
    "rewardXp" INTEGER NOT NULL DEFAULT 50,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "totalEarned" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "averageProgress" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "conditionType" TEXT NOT NULL,
    "isHidden" BOOLEAN NOT NULL DEFAULT false,
    "prerequisiteBadgeId" TEXT,
    "rewardCardPack" TEXT,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "specialReward" TEXT,
    "targetValue" INTEGER NOT NULL DEFAULT 1,
    "totalProgress" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "badges_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."user_badges" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "badgeId" TEXT NOT NULL,
    "progress" INTEGER NOT NULL DEFAULT 0,
    "earnedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "isCompleted" BOOLEAN NOT NULL DEFAULT false,
    "isUnlocked" BOOLEAN NOT NULL DEFAULT false,
    "notificationSent" BOOLEAN NOT NULL DEFAULT false,
    "progressData" TEXT,
    "unlockedAt" TIMESTAMP(3),
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "user_badges_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."daily_quests" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "questType" TEXT NOT NULL,
    "target" INTEGER NOT NULL,
    "progress" INTEGER NOT NULL DEFAULT 0,
    "isCompleted" BOOLEAN NOT NULL DEFAULT false,
    "diamondReward" INTEGER NOT NULL DEFAULT 20,
    "experienceReward" INTEGER NOT NULL DEFAULT 10,
    "date" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "daily_quests_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."diamond_transactions" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "amount" INTEGER NOT NULL,
    "type" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "relatedId" TEXT,
    "relatedType" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "diamond_transactions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."daily_mini_quizzes" (
    "id" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "questions" TEXT NOT NULL,
    "difficulty" INTEGER NOT NULL DEFAULT 1,
    "category" TEXT NOT NULL DEFAULT 'python',
    "diamondReward" INTEGER NOT NULL DEFAULT 15,
    "experienceReward" INTEGER NOT NULL DEFAULT 25,
    "totalAttempts" INTEGER NOT NULL DEFAULT 0,
    "totalCorrect" INTEGER NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "description" TEXT,
    "title" TEXT NOT NULL,

    CONSTRAINT "daily_mini_quizzes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."daily_mini_quiz_attempts" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "quizId" TEXT NOT NULL,
    "answers" TEXT NOT NULL,
    "score" INTEGER NOT NULL,
    "timeSpent" INTEGER NOT NULL,
    "diamondsEarned" INTEGER NOT NULL DEFAULT 0,
    "experienceEarned" INTEGER NOT NULL DEFAULT 0,
    "completedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "daily_mini_quiz_attempts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."card_packs" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "packType" TEXT NOT NULL,
    "cardCount" INTEGER NOT NULL DEFAULT 3,
    "guaranteedRarity" TEXT,
    "diamondPrice" INTEGER,
    "requiredLevel" INTEGER NOT NULL DEFAULT 1,
    "imageUrl" TEXT,
    "rarity" TEXT NOT NULL DEFAULT 'common',
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "card_packs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."card_pack_openings" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "packId" TEXT NOT NULL,
    "cardsReceived" TEXT NOT NULL,
    "sourceType" TEXT NOT NULL,
    "sourceId" TEXT,
    "openedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "card_pack_openings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."user_streaks" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "currentStreak" INTEGER NOT NULL DEFAULT 0,
    "longestStreak" INTEGER NOT NULL DEFAULT 0,
    "lastActivityDate" TIMESTAMP(3),
    "streakStartDate" TIMESTAMP(3),
    "loginStreak" INTEGER NOT NULL DEFAULT 0,
    "quizStreak" INTEGER NOT NULL DEFAULT 0,
    "totalRewardsEarned" INTEGER NOT NULL DEFAULT 0,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "codeArenaStreak" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "user_streaks_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."xp_multiplier_events" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "multiplier" DOUBLE PRECISION NOT NULL DEFAULT 2.0,
    "eventType" TEXT NOT NULL,
    "targetCategory" TEXT,
    "minLevel" INTEGER,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "xp_multiplier_events_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."xp_event_participations" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "eventId" TEXT NOT NULL,
    "bonusXPEarned" INTEGER NOT NULL DEFAULT 0,
    "activitiesCount" INTEGER NOT NULL DEFAULT 0,
    "joinedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "xp_event_participations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."daily_login_bonuses" (
    "id" TEXT NOT NULL,
    "day" INTEGER NOT NULL,
    "diamondReward" INTEGER NOT NULL DEFAULT 10,
    "experienceReward" INTEGER NOT NULL DEFAULT 20,
    "cardPackId" TEXT,
    "isSpecial" BOOLEAN NOT NULL DEFAULT false,
    "specialReward" TEXT,

    CONSTRAINT "daily_login_bonuses_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."user_daily_logins" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "consecutiveDays" INTEGER NOT NULL DEFAULT 0,
    "lastLoginDate" TIMESTAMP(3),
    "cycleStartDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "totalDiamondsEarned" INTEGER NOT NULL DEFAULT 0,
    "totalXPEarned" INTEGER NOT NULL DEFAULT 0,
    "packsEarned" INTEGER NOT NULL DEFAULT 0,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "user_daily_logins_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."categories" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "description" TEXT,
    "color" TEXT NOT NULL DEFAULT '#3B82F6',
    "icon" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "cardCount" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "namingFormats" TEXT,
    "namingNames" TEXT,
    "namingPrefixes" TEXT,
    "namingSuffixes" TEXT,

    CONSTRAINT "categories_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."rarities" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "description" TEXT,
    "color" TEXT NOT NULL DEFAULT '#3B82F6',
    "bgColor" TEXT,
    "borderColor" TEXT,
    "textColor" TEXT,
    "gradient" TEXT,
    "animation" TEXT,
    "level" INTEGER NOT NULL,
    "dropRate" DOUBLE PRECISION NOT NULL DEFAULT 100.0,
    "iconUrl" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "maxDiamondPrice" INTEGER NOT NULL DEFAULT 100,
    "minDiamondPrice" INTEGER NOT NULL DEFAULT 50,
    "icon" TEXT,

    CONSTRAINT "rarities_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."elements" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "description" TEXT,
    "color" TEXT NOT NULL DEFAULT '#3B82F6',
    "icon" TEXT,
    "iconUrl" TEXT,
    "effectDescription" TEXT,
    "priceModifier" DOUBLE PRECISION NOT NULL DEFAULT 1.0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "elements_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."card_styles" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "targetType" TEXT NOT NULL,
    "targetValue" TEXT NOT NULL,
    "containerClass" TEXT,
    "imageClass" TEXT,
    "borderClass" TEXT,
    "backgroundClass" TEXT,
    "animationClass" TEXT,
    "glowEffect" TEXT,
    "hoverEffect" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "priority" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "card_styles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."card_analysis_settings" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "aiModel" TEXT NOT NULL DEFAULT 'gpt-4o-mini',
    "confidenceThreshold" DOUBLE PRECISION NOT NULL DEFAULT 0.7,
    "enableOCR" BOOLEAN NOT NULL DEFAULT true,
    "enableImageAnalysis" BOOLEAN NOT NULL DEFAULT true,
    "enablePriceEstimation" BOOLEAN NOT NULL DEFAULT true,
    "basePriceMin" INTEGER NOT NULL DEFAULT 50,
    "basePriceMax" INTEGER NOT NULL DEFAULT 500,
    "rarityWeight" DOUBLE PRECISION NOT NULL DEFAULT 1.5,
    "elementWeight" DOUBLE PRECISION NOT NULL DEFAULT 1.2,
    "categoryWeight" DOUBLE PRECISION NOT NULL DEFAULT 1.1,
    "conditionWeight" DOUBLE PRECISION NOT NULL DEFAULT 1.3,
    "popularityWeight" DOUBLE PRECISION NOT NULL DEFAULT 1.4,
    "enableMarketAnalysis" BOOLEAN NOT NULL DEFAULT true,
    "marketTrendWeight" DOUBLE PRECISION NOT NULL DEFAULT 1.0,
    "demandFactor" DOUBLE PRECISION NOT NULL DEFAULT 1.2,
    "supplyFactor" DOUBLE PRECISION NOT NULL DEFAULT 0.8,
    "autoUpdatePrices" BOOLEAN NOT NULL DEFAULT false,
    "priceUpdateInterval" INTEGER NOT NULL DEFAULT 24,
    "maxPriceChange" DOUBLE PRECISION NOT NULL DEFAULT 0.3,
    "analyzeStats" BOOLEAN NOT NULL DEFAULT true,
    "analyzeCharacter" BOOLEAN NOT NULL DEFAULT true,
    "analyzeSeries" BOOLEAN NOT NULL DEFAULT true,
    "analyzeRarity" BOOLEAN NOT NULL DEFAULT true,
    "analyzeCondition" BOOLEAN NOT NULL DEFAULT true,
    "analyzeElements" BOOLEAN NOT NULL DEFAULT true,
    "minImageQuality" DOUBLE PRECISION NOT NULL DEFAULT 0.5,
    "maxBlurThreshold" DOUBLE PRECISION NOT NULL DEFAULT 0.3,
    "minResolution" INTEGER NOT NULL DEFAULT 200,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "isDefault" BOOLEAN NOT NULL DEFAULT false,
    "priority" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "card_analysis_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."analysis_logs" (
    "id" TEXT NOT NULL,
    "cardId" TEXT NOT NULL,
    "settingsId" TEXT,
    "analysisType" TEXT NOT NULL,
    "originalData" TEXT,
    "detectedSeries" TEXT,
    "detectedCharacter" TEXT,
    "detectedRarity" TEXT,
    "detectedElement" TEXT,
    "detectedCondition" TEXT,
    "ocrResults" TEXT,
    "aiTags" TEXT,
    "confidence" DOUBLE PRECISION DEFAULT 0,
    "oldPrice" INTEGER,
    "newPrice" INTEGER,
    "priceReason" TEXT,
    "imageQuality" DOUBLE PRECISION,
    "blurLevel" DOUBLE PRECISION,
    "resolution" TEXT,
    "status" TEXT NOT NULL DEFAULT 'processing',
    "errorMessage" TEXT,
    "processingTime" INTEGER,
    "modelUsed" TEXT,
    "settingsUsed" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "analysis_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."diamond_purchases" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "packageId" TEXT NOT NULL,
    "packageName" TEXT NOT NULL,
    "diamonds" INTEGER NOT NULL,
    "price" DOUBLE PRECISION NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'TRY',
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "shopierOrderId" TEXT,
    "shopierPaymentId" TEXT,
    "paymentMethod" TEXT,
    "failureReason" TEXT,
    "completedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "diamond_purchases_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."diamond_packages" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "packageType" TEXT NOT NULL,
    "diamonds" INTEGER NOT NULL,
    "price" DOUBLE PRECISION NOT NULL,
    "originalPrice" DOUBLE PRECISION,
    "bonus" INTEGER,
    "popular" BOOLEAN NOT NULL DEFAULT false,
    "bestValue" BOOLEAN NOT NULL DEFAULT false,
    "level" INTEGER NOT NULL,
    "badge" TEXT NOT NULL,
    "color" TEXT NOT NULL,
    "glow" TEXT NOT NULL,
    "icon" TEXT NOT NULL,
    "features" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "diamond_packages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."learning_activities" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "activityType" TEXT NOT NULL,
    "category" TEXT NOT NULL DEFAULT 'general',
    "difficulty" INTEGER NOT NULL DEFAULT 1,
    "diamondReward" INTEGER NOT NULL DEFAULT 10,
    "experienceReward" INTEGER NOT NULL DEFAULT 25,
    "content" TEXT NOT NULL,
    "settings" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "estimatedMinutes" INTEGER NOT NULL DEFAULT 5,
    "tags" TEXT,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "prerequisiteId" TEXT,
    "topicOrder" INTEGER NOT NULL DEFAULT 0,
    "isLocked" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "slug" TEXT,

    CONSTRAINT "learning_activities_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."activity_attempts" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "activityId" TEXT NOT NULL,
    "answers" TEXT,
    "score" INTEGER NOT NULL DEFAULT 0,
    "maxScore" INTEGER NOT NULL DEFAULT 100,
    "completed" BOOLEAN NOT NULL DEFAULT false,
    "timeSpent" INTEGER NOT NULL DEFAULT 0,
    "hintsUsed" INTEGER NOT NULL DEFAULT 0,
    "mistakes" INTEGER NOT NULL DEFAULT 0,
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completedAt" TIMESTAMP(3),

    CONSTRAINT "activity_attempts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."quiz_questions" (
    "id" TEXT NOT NULL,
    "question" TEXT NOT NULL,
    "options" TEXT[],
    "correctAnswer" INTEGER NOT NULL,
    "explanation" TEXT,
    "difficulty" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "quiz_questions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."quiz_categories" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "color" TEXT NOT NULL DEFAULT '#3B82F6',
    "icon" TEXT,
    "questionCount" INTEGER NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "quiz_categories_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."weekly_challenges" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "challengeType" TEXT NOT NULL,
    "difficulty" TEXT NOT NULL DEFAULT 'intermediate',
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "requirements" TEXT NOT NULL,
    "targetValue" INTEGER NOT NULL,
    "diamondReward" INTEGER NOT NULL DEFAULT 100,
    "experienceReward" INTEGER NOT NULL DEFAULT 200,
    "cardPackReward" TEXT,
    "badgeReward" TEXT,
    "specialReward" TEXT,
    "category" TEXT NOT NULL DEFAULT 'general',
    "tags" TEXT,
    "imageUrl" TEXT,
    "icon" TEXT NOT NULL DEFAULT '­şÅå',
    "priority" INTEGER NOT NULL DEFAULT 0,
    "participantCount" INTEGER NOT NULL DEFAULT 0,
    "completionCount" INTEGER NOT NULL DEFAULT 0,
    "averageProgress" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "weekly_challenges_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."user_challenge_progress" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "challengeId" TEXT NOT NULL,
    "currentValue" INTEGER NOT NULL DEFAULT 0,
    "isCompleted" BOOLEAN NOT NULL DEFAULT false,
    "completedAt" TIMESTAMP(3),
    "rewardsClaimed" BOOLEAN NOT NULL DEFAULT false,
    "claimedAt" TIMESTAMP(3),
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastProgressAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "progressData" TEXT,

    CONSTRAINT "user_challenge_progress_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."card_rarities" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "displayName" TEXT NOT NULL,
    "description" TEXT,
    "level" INTEGER NOT NULL,
    "color" TEXT NOT NULL DEFAULT '#3B82F6',
    "glowColor" TEXT,
    "borderColor" TEXT,
    "bgGradient" TEXT,
    "baseDropRate" DOUBLE PRECISION NOT NULL DEFAULT 100.0,
    "packDropRate" DOUBLE PRECISION NOT NULL DEFAULT 50.0,
    "rewardDropRate" DOUBLE PRECISION NOT NULL DEFAULT 25.0,
    "minDiamondValue" INTEGER NOT NULL DEFAULT 50,
    "maxDiamondValue" INTEGER NOT NULL DEFAULT 200,
    "xpMultiplier" DOUBLE PRECISION NOT NULL DEFAULT 1.0,
    "hasGlow" BOOLEAN NOT NULL DEFAULT false,
    "hasAnimation" BOOLEAN NOT NULL DEFAULT false,
    "hasParticles" BOOLEAN NOT NULL DEFAULT false,
    "animationType" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "card_rarities_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."card_distribution_rules" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "ruleType" TEXT NOT NULL,
    "conditions" TEXT NOT NULL,
    "commonWeight" DOUBLE PRECISION NOT NULL DEFAULT 70.0,
    "rareWeight" DOUBLE PRECISION NOT NULL DEFAULT 20.0,
    "epicWeight" DOUBLE PRECISION NOT NULL DEFAULT 8.0,
    "legendaryWeight" DOUBLE PRECISION NOT NULL DEFAULT 2.0,
    "mythicWeight" DOUBLE PRECISION NOT NULL DEFAULT 0.1,
    "guaranteedRarity" TEXT,
    "guaranteeCount" INTEGER NOT NULL DEFAULT 10,
    "luckBonus" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "premiumBonus" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "eventMultiplier" DOUBLE PRECISION NOT NULL DEFAULT 1.0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "priority" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "card_distribution_rules_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."card_distribution_logs" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "ruleId" TEXT NOT NULL,
    "sourceType" TEXT NOT NULL,
    "sourceId" TEXT,
    "cardId" TEXT,
    "rarityReceived" TEXT NOT NULL,
    "wasGuaranteed" BOOLEAN NOT NULL DEFAULT false,
    "attemptNumber" INTEGER NOT NULL DEFAULT 1,
    "rollValue" DOUBLE PRECISION NOT NULL,
    "appliedWeights" TEXT NOT NULL,
    "modifiersApplied" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "card_distribution_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."user_rarity_stats" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "commonCards" INTEGER NOT NULL DEFAULT 0,
    "rareCards" INTEGER NOT NULL DEFAULT 0,
    "epicCards" INTEGER NOT NULL DEFAULT 0,
    "legendaryCards" INTEGER NOT NULL DEFAULT 0,
    "mythicCards" INTEGER NOT NULL DEFAULT 0,
    "packsOpened" INTEGER NOT NULL DEFAULT 0,
    "totalCardsDrawn" INTEGER NOT NULL DEFAULT 0,
    "luckScore" DOUBLE PRECISION NOT NULL DEFAULT 50.0,
    "averageRarity" DOUBLE PRECISION NOT NULL DEFAULT 1.0,
    "guaranteePity" INTEGER NOT NULL DEFAULT 0,
    "bestStreak" INTEGER NOT NULL DEFAULT 0,
    "currentStreak" INTEGER NOT NULL DEFAULT 0,
    "firstLegendary" TIMESTAMP(3),
    "firstMythic" TIMESTAMP(3),
    "totalValueDrawn" INTEGER NOT NULL DEFAULT 0,
    "lastCardDrawn" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "user_rarity_stats_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."login_history" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "loginDate" DATE NOT NULL,
    "loginTimestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "streakCount" INTEGER NOT NULL DEFAULT 1,
    "isConsecutive" BOOLEAN NOT NULL DEFAULT true,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "platform" TEXT,

    CONSTRAINT "login_history_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."login_streaks" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "currentStreak" INTEGER NOT NULL DEFAULT 1,
    "longestStreak" INTEGER NOT NULL DEFAULT 1,
    "lastLoginDate" DATE NOT NULL,
    "streakStartDate" DATE NOT NULL,
    "totalLogins" INTEGER NOT NULL DEFAULT 1,
    "streakRewards" JSONB NOT NULL DEFAULT '[]',

    CONSTRAINT "login_streaks_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."python_tip_categories" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "description" TEXT,
    "color" TEXT NOT NULL DEFAULT '#3B82F6',
    "icon" TEXT,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "python_tip_categories_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."python_tips" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "codeExample" TEXT,
    "difficulty" TEXT NOT NULL DEFAULT 'beginner',
    "categoryId" TEXT NOT NULL,
    "xpReward" INTEGER NOT NULL DEFAULT 10,
    "viewCount" INTEGER NOT NULL DEFAULT 0,
    "likeCount" INTEGER NOT NULL DEFAULT 0,
    "shareCount" INTEGER NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "publishDate" TIMESTAMP(3),
    "tags" TEXT,
    "estimatedMinutes" INTEGER NOT NULL DEFAULT 2,
    "prerequisites" TEXT,
    "relatedTips" TEXT,
    "slug" TEXT,
    "metaDescription" TEXT,
    "metaKeywords" TEXT,
    "socialImageUrl" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "python_tips_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."user_python_tip_interactions" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "tipId" TEXT NOT NULL,
    "hasViewed" BOOLEAN NOT NULL DEFAULT false,
    "hasLiked" BOOLEAN NOT NULL DEFAULT false,
    "hasShared" BOOLEAN NOT NULL DEFAULT false,
    "hasCompleted" BOOLEAN NOT NULL DEFAULT false,
    "timeSpent" INTEGER NOT NULL DEFAULT 0,
    "completionScore" INTEGER,
    "attemptCount" INTEGER NOT NULL DEFAULT 0,
    "xpEarned" INTEGER NOT NULL DEFAULT 0,
    "diamondsEarned" INTEGER NOT NULL DEFAULT 0,
    "badgeEarned" TEXT,
    "firstViewedAt" TIMESTAMP(3),
    "lastViewedAt" TIMESTAMP(3),
    "likedAt" TIMESTAMP(3),
    "sharedAt" TIMESTAMP(3),
    "completedAt" TIMESTAMP(3),
    "deviceType" TEXT,
    "sourceType" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "user_python_tip_interactions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."python_tip_streaks" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "currentStreak" INTEGER NOT NULL DEFAULT 0,
    "longestStreak" INTEGER NOT NULL DEFAULT 0,
    "lastTipDate" DATE,
    "streakStartDate" DATE,
    "totalTipsViewed" INTEGER NOT NULL DEFAULT 0,
    "totalTipsCompleted" INTEGER NOT NULL DEFAULT 0,
    "totalXPEarned" INTEGER NOT NULL DEFAULT 0,
    "totalDiamondsEarned" INTEGER NOT NULL DEFAULT 0,
    "streakMilestones" TEXT NOT NULL DEFAULT '[]',
    "nextMilestone" INTEGER NOT NULL DEFAULT 7,
    "categoriesCompleted" TEXT NOT NULL DEFAULT '{}',
    "beginnerCompleted" INTEGER NOT NULL DEFAULT 0,
    "intermediateCompleted" INTEGER NOT NULL DEFAULT 0,
    "advancedCompleted" INTEGER NOT NULL DEFAULT 0,
    "weeklyGoal" INTEGER NOT NULL DEFAULT 7,
    "weeklyProgress" INTEGER NOT NULL DEFAULT 0,
    "monthlyGoal" INTEGER NOT NULL DEFAULT 30,
    "monthlyProgress" INTEGER NOT NULL DEFAULT 0,
    "lastWeeklyReset" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastMonthlyReset" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "python_tip_streaks_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."daily_python_tips" (
    "id" TEXT NOT NULL,
    "tipId" TEXT NOT NULL,
    "date" DATE NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "viewCount" INTEGER NOT NULL DEFAULT 0,
    "likeCount" INTEGER NOT NULL DEFAULT 0,
    "shareCount" INTEGER NOT NULL DEFAULT 0,
    "completionRate" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "variant" TEXT,
    "testingActive" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "daily_python_tips_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."python_tip_feedback" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "tipId" TEXT NOT NULL,
    "rating" INTEGER,
    "difficulty" TEXT,
    "helpfulness" INTEGER,
    "clarity" INTEGER,
    "comment" TEXT,
    "suggestion" TEXT,
    "reportReason" TEXT,
    "isPublic" BOOLEAN NOT NULL DEFAULT false,
    "isVerified" BOOLEAN NOT NULL DEFAULT false,
    "adminResponse" TEXT,
    "respondedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "python_tip_feedback_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."blog_posts" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "description" TEXT,
    "content" TEXT NOT NULL,
    "excerpt" TEXT,
    "seoKeywords" TEXT,
    "metaDescription" TEXT,
    "socialImageUrl" TEXT,
    "category" TEXT NOT NULL,
    "tags" TEXT NOT NULL,
    "isPublished" BOOLEAN NOT NULL DEFAULT false,
    "publishedAt" TIMESTAMP(3),
    "featured" BOOLEAN NOT NULL DEFAULT false,
    "readTime" TEXT NOT NULL DEFAULT '5 min',
    "estimatedMinutes" INTEGER NOT NULL DEFAULT 5,
    "author" TEXT NOT NULL DEFAULT 'Zumenzu Programming Team',
    "authorId" TEXT,
    "authorBio" TEXT,
    "viewCount" INTEGER NOT NULL DEFAULT 0,
    "likeCount" INTEGER NOT NULL DEFAULT 0,
    "shareCount" INTEGER NOT NULL DEFAULT 0,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "language" TEXT NOT NULL DEFAULT 'tr',
    "sourceFile" TEXT,
    "sourceFormat" TEXT NOT NULL DEFAULT 'markdown',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "blog_posts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."blog_post_interactions" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "postId" TEXT NOT NULL,
    "hasViewed" BOOLEAN NOT NULL DEFAULT false,
    "hasLiked" BOOLEAN NOT NULL DEFAULT false,
    "hasShared" BOOLEAN NOT NULL DEFAULT false,
    "timeSpent" INTEGER NOT NULL DEFAULT 0,
    "deviceType" TEXT,
    "sourceType" TEXT,
    "firstViewedAt" TIMESTAMP(3),
    "lastViewedAt" TIMESTAMP(3),
    "likedAt" TIMESTAMP(3),
    "sharedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "blog_post_interactions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."arena_configurations" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "isDefault" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "arena_configurations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."arena_difficulty_configs" (
    "id" TEXT NOT NULL,
    "configId" TEXT NOT NULL,
    "level" INTEGER NOT NULL,
    "label" TEXT NOT NULL,
    "color" TEXT NOT NULL DEFAULT 'from-slate-500 to-slate-600',
    "icon" TEXT NOT NULL DEFAULT '­şÆ╗',
    "bgColor" TEXT NOT NULL DEFAULT 'bg-slate-50',
    "textColor" TEXT NOT NULL DEFAULT 'text-slate-700',
    "borderColor" TEXT NOT NULL DEFAULT 'border-slate-200',
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "arena_difficulty_configs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."arena_category_configs" (
    "id" TEXT NOT NULL,
    "configId" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "icon" TEXT NOT NULL DEFAULT '­şÆ╗',
    "gradient" TEXT NOT NULL DEFAULT 'from-slate-500 to-slate-600',
    "bgGradient" TEXT NOT NULL DEFAULT 'from-slate-50 to-slate-50',
    "iconBg" TEXT NOT NULL DEFAULT 'bg-slate-500',
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "arena_category_configs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."arena_activity_type_configs" (
    "id" TEXT NOT NULL,
    "configId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "icon" TEXT NOT NULL DEFAULT '­şÆ╗',
    "color" TEXT NOT NULL DEFAULT 'text-slate-600',
    "description" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "arena_activity_type_configs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."arena_ui_configs" (
    "id" TEXT NOT NULL,
    "configId" TEXT NOT NULL,
    "heroTitle" TEXT NOT NULL DEFAULT 'Master Programming',
    "heroSubtitle" TEXT NOT NULL DEFAULT 'Through Epic Learning',
    "heroDescription" TEXT NOT NULL DEFAULT 'Embark on an epic coding adventure with interactive challenges, unlock achievements, and build world-class programming skills!',
    "primaryColor" TEXT NOT NULL DEFAULT '#6366f1',
    "secondaryColor" TEXT NOT NULL DEFAULT '#ec4899',
    "accentColor" TEXT NOT NULL DEFAULT '#06b6d4',
    "backgroundColor" TEXT NOT NULL DEFAULT 'from-indigo-50 via-white to-cyan-50',
    "headerGradient" TEXT NOT NULL DEFAULT 'from-indigo-600 via-purple-600 to-pink-600',
    "customCSS" TEXT,
    "showStats" BOOLEAN NOT NULL DEFAULT true,
    "showFilters" BOOLEAN NOT NULL DEFAULT true,
    "enableAnimations" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "arena_ui_configs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."badge_rules" (
    "id" TEXT NOT NULL,
    "badgeId" TEXT NOT NULL,
    "ruleType" TEXT NOT NULL,
    "metric" TEXT NOT NULL,
    "target" INTEGER,
    "weight" DOUBLE PRECISION NOT NULL DEFAULT 1,
    "definition" JSONB,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "badge_rules_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."skills" (
    "id" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "category" TEXT,
    "difficulty" INTEGER NOT NULL DEFAULT 1,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "skills_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."skill_edges" (
    "id" TEXT NOT NULL,
    "parentId" TEXT NOT NULL,
    "childId" TEXT NOT NULL,
    "weight" DOUBLE PRECISION NOT NULL DEFAULT 1.0,
    "isPrerequisite" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "skill_edges_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."activity_skills" (
    "id" TEXT NOT NULL,
    "activityId" TEXT NOT NULL,
    "skillId" TEXT NOT NULL,
    "weight" DOUBLE PRECISION NOT NULL DEFAULT 1.0,
    "difficulty" INTEGER NOT NULL DEFAULT 1,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "activity_skills_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."user_skill_mastery" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "skillId" TEXT NOT NULL,
    "mastery" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "proficiency" INTEGER NOT NULL DEFAULT 0,
    "evidenceCount" INTEGER NOT NULL DEFAULT 0,
    "correctCount" INTEGER NOT NULL DEFAULT 0,
    "incorrectCount" INTEGER NOT NULL DEFAULT 0,
    "streak" INTEGER NOT NULL DEFAULT 0,
    "decayFactor" DOUBLE PRECISION NOT NULL DEFAULT 0.99,
    "lastPracticedAt" TIMESTAMP(3),
    "lastDecayAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "user_skill_mastery_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."recommendation_queues" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "items" JSONB NOT NULL,
    "generatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expiresAt" TIMESTAMP(3),

    CONSTRAINT "recommendation_queues_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."game_sessions" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "gameKey" TEXT NOT NULL,
    "score" INTEGER NOT NULL DEFAULT 0,
    "correctCount" INTEGER NOT NULL DEFAULT 0,
    "durationSec" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completedAt" TIMESTAMPTZ(6),

    CONSTRAINT "game_sessions_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "anime_series_name_key" ON "public"."anime_series"("name");

-- CreateIndex
CREATE UNIQUE INDEX "settings_key_key" ON "public"."settings"("key");

-- CreateIndex
CREATE UNIQUE INDEX "ai_models_name_key" ON "public"."ai_models"("name");

-- CreateIndex
CREATE UNIQUE INDEX "used_card_names_cardTitle_key" ON "public"."used_card_names"("cardTitle");

-- CreateIndex
CREATE UNIQUE INDEX "used_card_names_cardId_key" ON "public"."used_card_names"("cardId");

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "public"."users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "users_username_key" ON "public"."users"("username");

-- CreateIndex
CREATE UNIQUE INDEX "accounts_provider_providerAccountId_key" ON "public"."accounts"("provider", "providerAccountId");

-- CreateIndex
CREATE UNIQUE INDEX "sessions_sessionToken_key" ON "public"."sessions"("sessionToken");

-- CreateIndex
CREATE UNIQUE INDEX "verification_tokens_token_key" ON "public"."verification_tokens"("token");

-- CreateIndex
CREATE UNIQUE INDEX "verification_tokens_identifier_token_key" ON "public"."verification_tokens"("identifier", "token");

-- CreateIndex
CREATE UNIQUE INDEX "user_cards_userId_cardId_key" ON "public"."user_cards"("userId", "cardId");

-- CreateIndex
CREATE UNIQUE INDEX "badges_name_key" ON "public"."badges"("name");

-- CreateIndex
CREATE UNIQUE INDEX "user_badges_userId_badgeId_key" ON "public"."user_badges"("userId", "badgeId");

-- CreateIndex
CREATE UNIQUE INDEX "daily_quests_userId_questType_date_key" ON "public"."daily_quests"("userId", "questType", "date");

-- CreateIndex
CREATE UNIQUE INDEX "daily_mini_quizzes_date_category_key" ON "public"."daily_mini_quizzes"("date", "category");

-- CreateIndex
CREATE UNIQUE INDEX "daily_mini_quiz_attempts_userId_quizId_key" ON "public"."daily_mini_quiz_attempts"("userId", "quizId");

-- CreateIndex
CREATE UNIQUE INDEX "user_streaks_userId_key" ON "public"."user_streaks"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "xp_event_participations_userId_eventId_key" ON "public"."xp_event_participations"("userId", "eventId");

-- CreateIndex
CREATE UNIQUE INDEX "daily_login_bonuses_day_key" ON "public"."daily_login_bonuses"("day");

-- CreateIndex
CREATE UNIQUE INDEX "user_daily_logins_userId_key" ON "public"."user_daily_logins"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "categories_name_key" ON "public"."categories"("name");

-- CreateIndex
CREATE UNIQUE INDEX "categories_slug_key" ON "public"."categories"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "rarities_name_key" ON "public"."rarities"("name");

-- CreateIndex
CREATE UNIQUE INDEX "rarities_slug_key" ON "public"."rarities"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "rarities_level_key" ON "public"."rarities"("level");

-- CreateIndex
CREATE UNIQUE INDEX "elements_name_key" ON "public"."elements"("name");

-- CreateIndex
CREATE UNIQUE INDEX "elements_slug_key" ON "public"."elements"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "card_styles_name_key" ON "public"."card_styles"("name");

-- CreateIndex
CREATE UNIQUE INDEX "card_analysis_settings_name_key" ON "public"."card_analysis_settings"("name");

-- CreateIndex
CREATE UNIQUE INDEX "diamond_purchases_shopierOrderId_key" ON "public"."diamond_purchases"("shopierOrderId");

-- CreateIndex
CREATE UNIQUE INDEX "diamond_packages_packageType_key" ON "public"."diamond_packages"("packageType");

-- CreateIndex
CREATE UNIQUE INDEX "learning_activities_slug_key" ON "public"."learning_activities"("slug");

-- CreateIndex
CREATE INDEX "learning_activities_activityType_isActive_sortOrder_idx" ON "public"."learning_activities"("activityType", "isActive", "sortOrder");

-- CreateIndex
CREATE INDEX "learning_activities_activityType_isActive_category_difficul_idx" ON "public"."learning_activities"("activityType", "isActive", "category", "difficulty");

-- CreateIndex
CREATE UNIQUE INDEX "activity_attempts_userId_activityId_key" ON "public"."activity_attempts"("userId", "activityId");

-- CreateIndex
CREATE UNIQUE INDEX "quiz_categories_name_key" ON "public"."quiz_categories"("name");

-- CreateIndex
CREATE UNIQUE INDEX "user_challenge_progress_userId_challengeId_key" ON "public"."user_challenge_progress"("userId", "challengeId");

-- CreateIndex
CREATE UNIQUE INDEX "card_rarities_name_key" ON "public"."card_rarities"("name");

-- CreateIndex
CREATE UNIQUE INDEX "card_rarities_level_key" ON "public"."card_rarities"("level");

-- CreateIndex
CREATE UNIQUE INDEX "card_distribution_rules_name_key" ON "public"."card_distribution_rules"("name");

-- CreateIndex
CREATE UNIQUE INDEX "user_rarity_stats_userId_key" ON "public"."user_rarity_stats"("userId");

-- CreateIndex
CREATE INDEX "login_history_userId_loginDate_idx" ON "public"."login_history"("userId", "loginDate");

-- CreateIndex
CREATE INDEX "login_history_loginDate_idx" ON "public"."login_history"("loginDate");

-- CreateIndex
CREATE UNIQUE INDEX "login_history_userId_loginDate_key" ON "public"."login_history"("userId", "loginDate");

-- CreateIndex
CREATE UNIQUE INDEX "login_streaks_userId_key" ON "public"."login_streaks"("userId");

-- CreateIndex
CREATE INDEX "login_streaks_userId_idx" ON "public"."login_streaks"("userId");

-- CreateIndex
CREATE INDEX "login_streaks_lastLoginDate_idx" ON "public"."login_streaks"("lastLoginDate");

-- CreateIndex
CREATE UNIQUE INDEX "python_tip_categories_name_key" ON "public"."python_tip_categories"("name");

-- CreateIndex
CREATE UNIQUE INDEX "python_tip_categories_slug_key" ON "public"."python_tip_categories"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "python_tips_slug_key" ON "public"."python_tips"("slug");

-- CreateIndex
CREATE INDEX "python_tips_publishDate_idx" ON "public"."python_tips"("publishDate");

-- CreateIndex
CREATE INDEX "python_tips_difficulty_idx" ON "public"."python_tips"("difficulty");

-- CreateIndex
CREATE INDEX "python_tips_categoryId_idx" ON "public"."python_tips"("categoryId");

-- CreateIndex
CREATE INDEX "python_tips_isActive_idx" ON "public"."python_tips"("isActive");

-- CreateIndex
CREATE INDEX "user_python_tip_interactions_userId_idx" ON "public"."user_python_tip_interactions"("userId");

-- CreateIndex
CREATE INDEX "user_python_tip_interactions_tipId_idx" ON "public"."user_python_tip_interactions"("tipId");

-- CreateIndex
CREATE INDEX "user_python_tip_interactions_hasViewed_idx" ON "public"."user_python_tip_interactions"("hasViewed");

-- CreateIndex
CREATE INDEX "user_python_tip_interactions_hasCompleted_idx" ON "public"."user_python_tip_interactions"("hasCompleted");

-- CreateIndex
CREATE UNIQUE INDEX "user_python_tip_interactions_userId_tipId_key" ON "public"."user_python_tip_interactions"("userId", "tipId");

-- CreateIndex
CREATE UNIQUE INDEX "python_tip_streaks_userId_key" ON "public"."python_tip_streaks"("userId");

-- CreateIndex
CREATE INDEX "python_tip_streaks_userId_idx" ON "public"."python_tip_streaks"("userId");

-- CreateIndex
CREATE INDEX "python_tip_streaks_currentStreak_idx" ON "public"."python_tip_streaks"("currentStreak");

-- CreateIndex
CREATE INDEX "python_tip_streaks_lastTipDate_idx" ON "public"."python_tip_streaks"("lastTipDate");

-- CreateIndex
CREATE INDEX "daily_python_tips_date_idx" ON "public"."daily_python_tips"("date");

-- CreateIndex
CREATE INDEX "daily_python_tips_isActive_idx" ON "public"."daily_python_tips"("isActive");

-- CreateIndex
CREATE UNIQUE INDEX "daily_python_tips_date_variant_key" ON "public"."daily_python_tips"("date", "variant");

-- CreateIndex
CREATE INDEX "python_tip_feedback_tipId_idx" ON "public"."python_tip_feedback"("tipId");

-- CreateIndex
CREATE INDEX "python_tip_feedback_rating_idx" ON "public"."python_tip_feedback"("rating");

-- CreateIndex
CREATE INDEX "python_tip_feedback_isPublic_idx" ON "public"."python_tip_feedback"("isPublic");

-- CreateIndex
CREATE UNIQUE INDEX "python_tip_feedback_userId_tipId_key" ON "public"."python_tip_feedback"("userId", "tipId");

-- CreateIndex
CREATE UNIQUE INDEX "blog_posts_slug_key" ON "public"."blog_posts"("slug");

-- CreateIndex
CREATE INDEX "blog_posts_isPublished_idx" ON "public"."blog_posts"("isPublished");

-- CreateIndex
CREATE INDEX "blog_posts_featured_idx" ON "public"."blog_posts"("featured");

-- CreateIndex
CREATE INDEX "blog_posts_category_idx" ON "public"."blog_posts"("category");

-- CreateIndex
CREATE INDEX "blog_posts_publishedAt_idx" ON "public"."blog_posts"("publishedAt");

-- CreateIndex
CREATE INDEX "blog_posts_slug_idx" ON "public"."blog_posts"("slug");

-- CreateIndex
CREATE INDEX "blog_post_interactions_userId_idx" ON "public"."blog_post_interactions"("userId");

-- CreateIndex
CREATE INDEX "blog_post_interactions_postId_idx" ON "public"."blog_post_interactions"("postId");

-- CreateIndex
CREATE INDEX "blog_post_interactions_hasViewed_idx" ON "public"."blog_post_interactions"("hasViewed");

-- CreateIndex
CREATE INDEX "blog_post_interactions_hasLiked_idx" ON "public"."blog_post_interactions"("hasLiked");

-- CreateIndex
CREATE UNIQUE INDEX "blog_post_interactions_userId_postId_key" ON "public"."blog_post_interactions"("userId", "postId");

-- CreateIndex
CREATE UNIQUE INDEX "arena_configurations_name_key" ON "public"."arena_configurations"("name");

-- CreateIndex
CREATE UNIQUE INDEX "arena_difficulty_configs_configId_level_key" ON "public"."arena_difficulty_configs"("configId", "level");

-- CreateIndex
CREATE UNIQUE INDEX "arena_category_configs_configId_key_key" ON "public"."arena_category_configs"("configId", "key");

-- CreateIndex
CREATE UNIQUE INDEX "arena_activity_type_configs_configId_type_key" ON "public"."arena_activity_type_configs"("configId", "type");

-- CreateIndex
CREATE UNIQUE INDEX "arena_ui_configs_configId_key" ON "public"."arena_ui_configs"("configId");

-- CreateIndex
CREATE INDEX "badge_rules_badgeId_idx" ON "public"."badge_rules"("badgeId");

-- CreateIndex
CREATE UNIQUE INDEX "skills_key_key" ON "public"."skills"("key");

-- CreateIndex
CREATE INDEX "skill_edges_childId_idx" ON "public"."skill_edges"("childId");

-- CreateIndex
CREATE UNIQUE INDEX "skill_edges_parentId_childId_key" ON "public"."skill_edges"("parentId", "childId");

-- CreateIndex
CREATE INDEX "activity_skills_skillId_idx" ON "public"."activity_skills"("skillId");

-- CreateIndex
CREATE UNIQUE INDEX "activity_skills_activityId_skillId_key" ON "public"."activity_skills"("activityId", "skillId");

-- CreateIndex
CREATE INDEX "user_skill_mastery_skillId_idx" ON "public"."user_skill_mastery"("skillId");

-- CreateIndex
CREATE INDEX "user_skill_mastery_userId_idx" ON "public"."user_skill_mastery"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "user_skill_mastery_userId_skillId_key" ON "public"."user_skill_mastery"("userId", "skillId");

-- CreateIndex
CREATE INDEX "recommendation_queues_userId_generatedAt_idx" ON "public"."recommendation_queues"("userId", "generatedAt");

-- CreateIndex
CREATE INDEX "game_sessions_userId_gameKey_createdAt_idx" ON "public"."game_sessions"("userId", "gameKey", "createdAt");

-- AddForeignKey
ALTER TABLE "public"."cards" ADD CONSTRAINT "cards_collectionId_fkey" FOREIGN KEY ("collectionId") REFERENCES "public"."collections"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."analytics" ADD CONSTRAINT "analytics_cardId_fkey" FOREIGN KEY ("cardId") REFERENCES "public"."cards"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."used_card_names" ADD CONSTRAINT "used_card_names_cardId_fkey" FOREIGN KEY ("cardId") REFERENCES "public"."cards"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."accounts" ADD CONSTRAINT "accounts_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."sessions" ADD CONSTRAINT "sessions_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."user_cards" ADD CONSTRAINT "user_cards_cardId_fkey" FOREIGN KEY ("cardId") REFERENCES "public"."cards"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."user_cards" ADD CONSTRAINT "user_cards_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."code_submissions" ADD CONSTRAINT "code_submissions_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."quiz_attempts" ADD CONSTRAINT "quiz_attempts_quizId_fkey" FOREIGN KEY ("quizId") REFERENCES "public"."quizzes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."quiz_attempts" ADD CONSTRAINT "quiz_attempts_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."badges" ADD CONSTRAINT "badges_prerequisiteBadgeId_fkey" FOREIGN KEY ("prerequisiteBadgeId") REFERENCES "public"."badges"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."user_badges" ADD CONSTRAINT "user_badges_badgeId_fkey" FOREIGN KEY ("badgeId") REFERENCES "public"."badges"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."user_badges" ADD CONSTRAINT "user_badges_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."daily_quests" ADD CONSTRAINT "daily_quests_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."diamond_transactions" ADD CONSTRAINT "diamond_transactions_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."daily_mini_quiz_attempts" ADD CONSTRAINT "daily_mini_quiz_attempts_quizId_fkey" FOREIGN KEY ("quizId") REFERENCES "public"."daily_mini_quizzes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."daily_mini_quiz_attempts" ADD CONSTRAINT "daily_mini_quiz_attempts_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."card_pack_openings" ADD CONSTRAINT "card_pack_openings_packId_fkey" FOREIGN KEY ("packId") REFERENCES "public"."card_packs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."card_pack_openings" ADD CONSTRAINT "card_pack_openings_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."user_streaks" ADD CONSTRAINT "user_streaks_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."xp_event_participations" ADD CONSTRAINT "xp_event_participations_eventId_fkey" FOREIGN KEY ("eventId") REFERENCES "public"."xp_multiplier_events"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."xp_event_participations" ADD CONSTRAINT "xp_event_participations_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."daily_login_bonuses" ADD CONSTRAINT "daily_login_bonuses_cardPackId_fkey" FOREIGN KEY ("cardPackId") REFERENCES "public"."card_packs"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."user_daily_logins" ADD CONSTRAINT "user_daily_logins_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."diamond_purchases" ADD CONSTRAINT "diamond_purchases_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."learning_activities" ADD CONSTRAINT "learning_activities_prerequisiteId_fkey" FOREIGN KEY ("prerequisiteId") REFERENCES "public"."learning_activities"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."activity_attempts" ADD CONSTRAINT "activity_attempts_activityId_fkey" FOREIGN KEY ("activityId") REFERENCES "public"."learning_activities"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."activity_attempts" ADD CONSTRAINT "activity_attempts_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."user_challenge_progress" ADD CONSTRAINT "user_challenge_progress_challengeId_fkey" FOREIGN KEY ("challengeId") REFERENCES "public"."weekly_challenges"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."user_challenge_progress" ADD CONSTRAINT "user_challenge_progress_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."card_distribution_logs" ADD CONSTRAINT "card_distribution_logs_ruleId_fkey" FOREIGN KEY ("ruleId") REFERENCES "public"."card_distribution_rules"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."card_distribution_logs" ADD CONSTRAINT "card_distribution_logs_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."user_rarity_stats" ADD CONSTRAINT "user_rarity_stats_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."login_history" ADD CONSTRAINT "login_history_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."login_streaks" ADD CONSTRAINT "login_streaks_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."python_tips" ADD CONSTRAINT "python_tips_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES "public"."python_tip_categories"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."user_python_tip_interactions" ADD CONSTRAINT "user_python_tip_interactions_tipId_fkey" FOREIGN KEY ("tipId") REFERENCES "public"."python_tips"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."user_python_tip_interactions" ADD CONSTRAINT "user_python_tip_interactions_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."python_tip_streaks" ADD CONSTRAINT "python_tip_streaks_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."daily_python_tips" ADD CONSTRAINT "daily_python_tips_tipId_fkey" FOREIGN KEY ("tipId") REFERENCES "public"."python_tips"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."python_tip_feedback" ADD CONSTRAINT "python_tip_feedback_tipId_fkey" FOREIGN KEY ("tipId") REFERENCES "public"."python_tips"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."python_tip_feedback" ADD CONSTRAINT "python_tip_feedback_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."blog_posts" ADD CONSTRAINT "blog_posts_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES "public"."users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."blog_post_interactions" ADD CONSTRAINT "blog_post_interactions_postId_fkey" FOREIGN KEY ("postId") REFERENCES "public"."blog_posts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."blog_post_interactions" ADD CONSTRAINT "blog_post_interactions_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."arena_difficulty_configs" ADD CONSTRAINT "arena_difficulty_configs_configId_fkey" FOREIGN KEY ("configId") REFERENCES "public"."arena_configurations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."arena_category_configs" ADD CONSTRAINT "arena_category_configs_configId_fkey" FOREIGN KEY ("configId") REFERENCES "public"."arena_configurations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."arena_activity_type_configs" ADD CONSTRAINT "arena_activity_type_configs_configId_fkey" FOREIGN KEY ("configId") REFERENCES "public"."arena_configurations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."arena_ui_configs" ADD CONSTRAINT "arena_ui_configs_configId_fkey" FOREIGN KEY ("configId") REFERENCES "public"."arena_configurations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."badge_rules" ADD CONSTRAINT "badge_rules_badgeId_fkey" FOREIGN KEY ("badgeId") REFERENCES "public"."badges"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."skill_edges" ADD CONSTRAINT "skill_edges_childId_fkey" FOREIGN KEY ("childId") REFERENCES "public"."skills"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."skill_edges" ADD CONSTRAINT "skill_edges_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES "public"."skills"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."activity_skills" ADD CONSTRAINT "activity_skills_activityId_fkey" FOREIGN KEY ("activityId") REFERENCES "public"."learning_activities"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."activity_skills" ADD CONSTRAINT "activity_skills_skillId_fkey" FOREIGN KEY ("skillId") REFERENCES "public"."skills"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."user_skill_mastery" ADD CONSTRAINT "user_skill_mastery_skillId_fkey" FOREIGN KEY ("skillId") REFERENCES "public"."skills"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."user_skill_mastery" ADD CONSTRAINT "user_skill_mastery_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."recommendation_queues" ADD CONSTRAINT "recommendation_queues_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."game_sessions" ADD CONSTRAINT "game_sessions_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

